# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [5]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Pacific Grove,US,36.6177,-121.9166,64.54,76,100,4.00,overcast clouds
1,1,Freeport,US,40.6576,-73.5832,59.97,74,100,21.85,light rain
2,2,Mataura,NZ,-46.1927,168.8643,47.48,99,37,2.91,scattered clouds
3,3,Kapaa,US,22.0752,-159.3190,76.10,92,100,21.85,mist
4,4,Busselton,AU,-33.6500,115.3333,48.22,78,3,12.57,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [6]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you want? "))

# Prompt the user to enter the maximum temperature criteria
max_temp =  float(input("What is the maximum temperature you want? "))

What is the minimum temperature you want? 75
What is the maximum temperature you want? 92

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [7]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                       (city_data_df['Max Temp'] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Kapaa,US,22.0752,-159.3190,76.10,92,100,21.85,mist
17,17,Port Blair,IN,11.6667,92.7500,80.64,89,40,4.61,mist
18,18,Hithadhoo,MV,-0.6000,73.0833,81.93,68,100,12.50,overcast clouds
20,20,Khudumelapye,BW,-23.8833,24.7500,79.45,18,0,9.53,clear sky
22,22,Marsh Harbour,BS,26.5412,-77.0636,81.14,74,22,9.17,few clouds
29,29,Puerto Carreno,CO,6.1890,-67.4859,82.38,74,75,2.30,light rain
35,35,Ribeira Grande,PT,38.5167,-28.7000,75.60,83,40,12.66,scattered clouds
37,37,Bintulu,MY,3.1667,113.0333,77.41,94,40,0.00,moderate rain
41,41,Cayenne,GF,4.9333,-52.3333,91.44,55,75,9.22,broken clouds
42,42,Atuona,PF,-9.8000,-139.0333,76.46,77,24,21.99,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [8]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(15)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Kapaa,US,22.0752,-159.3190,76.10,92,100,21.85,mist
17,17,Port Blair,IN,11.6667,92.7500,80.64,89,40,4.61,mist
18,18,Hithadhoo,MV,-0.6000,73.0833,81.93,68,100,12.50,overcast clouds
20,20,Khudumelapye,BW,-23.8833,24.7500,79.45,18,0,9.53,clear sky
22,22,Marsh Harbour,BS,26.5412,-77.0636,81.14,74,22,9.17,few clouds
29,29,Puerto Carreno,CO,6.1890,-67.4859,82.38,74,75,2.30,light rain
35,35,Ribeira Grande,PT,38.5167,-28.7000,75.60,83,40,12.66,scattered clouds
37,37,Bintulu,MY,3.1667,113.0333,77.41,94,40,0.00,moderate rain
41,41,Cayenne,GF,4.9333,-52.3333,91.44,55,75,9.22,broken clouds
42,42,Atuona,PF,-9.8000,-139.0333,76.46,77,24,21.99,few clouds
44,44,Tonantins,BR,-2.8731,-67.8022,77.85,91,98,1.43,overcast clouds
47,47,Saint George,US,37.1041,-113.5841,78.44,57,75,5.01,broken clouds
48,48,Victoria,HK,22.2855,114.1577,84.33,83,16,5.99,few clouds
55,55,Vega De Alatorre,MX,20.0333,-96.6333,81.16,63,83,10.96,broken clouds
62,62,Pocoes,BR,-14.5297,-40.3653,80.92,50,67,8.12,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [9]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[['City', 'Country', 'Max Temp', 'Humidity', 'Current Description', 'Lat', 'Lng']].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Humidity,Current Description,Lat,Lng
3,Kapaa,US,76.10,92,mist,22.0752,-159.3190
17,Port Blair,IN,80.64,89,mist,11.6667,92.7500
18,Hithadhoo,MV,81.93,68,overcast clouds,-0.6000,73.0833
20,Khudumelapye,BW,79.45,18,clear sky,-23.8833,24.7500
22,Marsh Harbour,BS,81.14,74,few clouds,26.5412,-77.0636
29,Puerto Carreno,CO,82.38,74,light rain,6.1890,-67.4859
35,Ribeira Grande,PT,75.60,83,scattered clouds,38.5167,-28.7000
37,Bintulu,MY,77.41,94,moderate rain,3.1667,113.0333
41,Cayenne,GF,91.44,55,broken clouds,4.9333,-52.3333
42,Atuona,PF,76.46,77,few clouds,-9.8000,-139.0333

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [10]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Humidity,Current Description,Lat,Lng,Hotel Name
3,Kapaa,US,76.10,92,mist,22.0752,-159.3190,
17,Port Blair,IN,80.64,89,mist,11.6667,92.7500,
18,Hithadhoo,MV,81.93,68,overcast clouds,-0.6000,73.0833,
20,Khudumelapye,BW,79.45,18,clear sky,-23.8833,24.7500,
22,Marsh Harbour,BS,81.14,74,few clouds,26.5412,-77.0636,
29,Puerto Carreno,CO,82.38,74,light rain,6.1890,-67.4859,
35,Ribeira Grande,PT,75.60,83,scattered clouds,38.5167,-28.7000,
37,Bintulu,MY,77.41,94,moderate rain,3.1667,113.0333,
41,Cayenne,GF,91.44,55,broken clouds,4.9333,-52.3333,
42,Atuona,PF,76.46,77,few clouds,-9.8000,-139.0333,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [11]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [12]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Humidity,Current Description,Lat,Lng,Hotel Name
3,Kapaa,US,76.10,92,mist,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
17,Port Blair,IN,80.64,89,mist,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
18,Hithadhoo,MV,81.93,68,overcast clouds,-0.6000,73.0833,Scoop Guest House
20,Khudumelapye,BW,79.45,18,clear sky,-23.8833,24.7500,
22,Marsh Harbour,BS,81.14,74,few clouds,26.5412,-77.0636,Abaco Beach Resort
29,Puerto Carreno,CO,82.38,74,light rain,6.1890,-67.4859,Casa Hotel Victoria
35,Ribeira Grande,PT,75.60,83,scattered clouds,38.5167,-28.7000,Quinta da Meia Eira
37,Bintulu,MY,77.41,94,moderate rain,3.1667,113.0333,900 Boutique INN
41,Cayenne,GF,91.44,55,broken clouds,4.9333,-52.3333,Hôtel Le Dronmi
42,Atuona,PF,76.46,77,few clouds,-9.8000,-139.0333,Villa Enata

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [18]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Humidity,Current Description,Lat,Lng,Hotel Name
3,Kapaa,US,76.10,92,mist,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
17,Port Blair,IN,80.64,89,mist,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
18,Hithadhoo,MV,81.93,68,overcast clouds,-0.6000,73.0833,Scoop Guest House
20,Khudumelapye,BW,79.45,18,clear sky,-23.8833,24.7500,
22,Marsh Harbour,BS,81.14,74,few clouds,26.5412,-77.0636,Abaco Beach Resort
...,...,...,...,...,...,...,...,...
681,Kushalgarh,IN,77.05,63,clear sky,23.1990,74.4507,Hotel Janvi
683,Dhidhdhoo,MV,80.85,80,overcast clouds,6.8833,73.1000,Dhidhoo beach
687,Pandharpur,IN,77.43,65,scattered clouds,17.6667,75.3333,Pandharinath Lodge and Restaurant
694,Sal Rei,CV,82.60,51,few clouds,16.1833,-22.9167,Marine Club Beach Resort
695,Kralendijk,BQ,83.88,78,overcast clouds,12.1500,-68.2667,Divi Flamingo Beach Resort & Casino

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [20]:
# Set the file name.
output_data_file = 'WeatherPy_vacation.csv'
# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [22]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [23]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, 
# and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>mist and 76.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Welcomhotel By ITC Hotels, Bay Island, Port Blair</dd>\n<dt>City</dt><dd>Port Blair</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>mist and 80.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.93 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Khudumelapye</dd>\n<dt>Country</dt><dd>BW</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Abaco Beach Resort</dd>\n<dt>City</dt><dd>Marsh Harbour</dd>\n<dt>Country</dt><dd>BS</dd>\n<dt>Current Weather</dt><dd>few clouds and 81.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Hotel Victoria</dd>\n<dt>City</dt><dd>Puerto Carreno</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>light rain and 82.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Quinta da Meia Eira</dd>\n<dt>City</dt><dd>Ribeira Grande</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 75.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>900 Boutique INN</dd>\n<dt>City</dt><dd>Bintulu</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>moderate rain and 77.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Le Dronmi</dd>\n<dt>City</dt><dd>Cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 91.44 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>few clouds and 76.46 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [24]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
3   22.0752 -159.3190
17  11.6667   92.7500
18  -0.6000   73.0833
20 -23.8833   24.7500
22  26.5412  -77.0636
29   6.1890  -67.4859
35  38.5167  -28.7000
37   3.1667  113.0333
41   4.9333  -52.3333
42  -9.8000 -139.0333

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [28]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(35.0, 35.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))